<h1>Customer CRUD</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>

      <th>First Name</th>
      <th>Last Name</th>
      <th>salary</th>
      <th>Delete</th>
      <th>Update</th>
      <th>Id</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers; let i=index">
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.salary}}</td>
      <td><button class="btn btn-warning" (click)="handleDelete(customer.id)">Delete</button></td>
      <td><button class="btn btn-success" (click)="handleUpdate(customer.id)">Update</button></td>
      <td>{{i+1}}</td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <button class="btn btn-primary" (click)="handleAdd()">Add</button>
  </div>
</div>
